.centered-form__box {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background: #F7F7FA;
    padding: 30px;
    width: 700px;
    height: 450px;
}
.containner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}




