* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

.cardname {
  min-width: 0;
  overflow-wrap: break-word;
}

.container {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: "100vh";
  margin-left: 48;
}
circle {
  transform-origin: center;
  transform-box: fill-box;
  transform-origin: center;
  animation: rotate linear infinite;
}
circle:nth-child(1) {
  animation-duration: 1.6s;
}
circle:nth-child(2) {
  animation-duration: 1.2s;
}
circle:nth-child(3) {
  animation-duration: 0.8s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}
.brosize {
  min-height: 85vh;
  /* min-width: 100vw; */
}

/* #messages {
  overflow-y: scroll;
} */

.message a {
  color: #0070cc;
}

.hello {
  display: inline-block;
  width: 10px; /* Set the desired size of the circle */
  height: 10px; /* Set the desired size of the circle */
  border-radius: 50%;
  background-color: #2ecc71; /* Set the desired green color */
  margin-left: 5px; /* Add some spacing between the circle and the username */
}
.swal2-popup {
  cursor: auto;
}
.swal2-confirm,
.swal2-cancel {
  cursor: pointer !important;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.mic::before,
.mic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 2;
  box-shadow: 0 0 20px 20px #1c084f;
}
.mic::before {
  width: 100px;
  height: 100px;
  background-color: rgb(8, 45, 78);
}
.mic::after {
  width: 150px;
  height: 150px;
  background-color: #936cff;
  animation: circle-size 0.8s linear infinite alternate;
}
.mic-icon {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(5);
  display: block;
  width: 14px;
  height: 8px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border: 2px solid;
  border-top: 0;
  margin-top: 20px;
  z-index: 3;
}
.mic-icon::before,
.mic-icon::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.mic-icon::before {
  width: 2px;
  height: 5px;
  top: calc(100% + 1px);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
}
.mic-icon::after {
  border: 2px solid;
  width: 5px;
  height: 12px;
  left: 50%;
  top: -10px;
  border-radius: 4px;
  transform: translate(-50%, 0);
}
iframe{
  border-top: 10px solid #addff3;
  border-radius: 20px;
  border-bottom: 20px solid #addff3;
  border-left: 6px solid #addff3;
  border-right: 6px solid #addff3;

}

@keyframes circle-size {
  from {
    width: 180px;
    height: 180px;
  }
  to {
    width: 200px;
    height: 200px;
  }
}
