@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-glass-grey {
        background-color: rgba(128, 128, 128, 0.1);
        backdrop-filter: blur(8px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
      }
  }